---
import Section from "../Section.astro";

const summary =
    "I am an advanced student of Systems Analysis and Software Development at Escuela Da Vinci in Buenos Aires, with a strong passion for leveraging technology to enhance organizational efficiency and innovation. Currently, I am actively contributing to the growth of Marmolería Verona—a company with over 30 years of experience in the marble and construction industry—by implementing technological solutions to optimize processes and drive strategic improvements. With a focus on fostering collaboration and streamlining operations, my aim is to deliver impactful results that support business sustainability and create a foundation for future advancements.";
---

<Section title="About me">
    <p class="paragraph">
        {summary}
    </p>
</Section>

<style>
    .paragraph {
        color: grey;
    }
</style>
