---
import Section from "../Section.astro";

const summary =
    "Advanced student of Systems Analysis and Software Development at Escuela Da Vinci in Buenos Aires, driving growth at Marmolería Verona, a company with over 30 years of experience in the marble and construction industry. I am currently developing an app to centralize critical tasks such as inventory management, administrative balances, economic indicators, and project tracking. This application also enhances inter-departmental communication. I aim to optimize processes and lay the groundwork for future innovations, thus strengthening the business's prosperity.";
---

<Section title="About me">
    <p class="paragraph">
        {summary}
    </p>
</Section>

<style>
    .paragraph {
        color: grey;
    }
</style>
