---
import Section from "../Section.astro";
import HTML from "../../icons/html.astro";
import CSS from "../../icons/css.astro";
import JavaScript from "../../icons/javascript.astro";
import React from "../../icons/react.astro";
import MySQL from "../../icons/sql.astro";
import Git from "../../icons/git.astro";
import GitHub from "../../icons/GitHub.astro";
import Tailwind from "../../icons/tailwind.astro";
import Swift from "../../icons/swift.astro";
import SwiftUI from "../../icons/swiftui.astro";
import Express from "../../icons/Express.astro";

const SKILLS_ICONS: Record<string, any> = {
    HTML,
    CSS,
    JavaScript,
    React,
    MySQL,
    Express,
    Git,
    GitHub,
    Tailwind,
    Swift,
    SwiftUI,
};

const skills = [
    { name: "HTML" },
    { name: "CSS" },
    { name: "JavaScript" },
    { name: "React" },
    { name: "MySQL" },
    { name: "Express" },
    { name: "Git" },
    { name: "GitHub" },
    { name: "Tailwind" },
    { name: "Swift" },
    { name: "SwiftUI" },
];
---

<Section title="Skills">
    <ul class="skills-list">
        {
            skills.map(({ name }) => {
                const iconName = name === "Next.js" ? "Next" : name;
                const Icon = SKILLS_ICONS[iconName];

                return (
                    <li class="skill-item">
                        {Icon && <Icon />} <span>{name}</span>
                    </li>
                );
            })
        }
    </ul>
</Section>

<style>
    .skills-list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .skill-item {
        align-items: center;
        background: #eee;
        border-radius: 6px;
        color: black;
        display: flex;
        font-size: 0.8rem;
        font-weight: 500;
        gap: 4px;
        padding: 0.2rem 0.6rem;
        justify-content: flex-start;
        max-width: 100%;
    }

    .skill-item span {
        white-space: nowrap;
    }

    @media (max-width: 700px) {
        .skills-list {
            flex-direction: row;
            align-items: flex-start;
        }
    }
</style>
